{% extends 'base.html' %}
{% block container %}
<!-- HERO -->
    <section class="jumbotron text-center mt-4" style="background: url('/static/2.jpg'); background-position: center center">
      <h1 class="display-4">{{ title }}</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
        {%  for id, tour in tours.items() %}
        <div class="col-4">
          <div class="card mb-4">
            <div class="embed-responsive embed-responsive-16by9">
                <img class="card-img-top embed-responsive-item" src="{{ tour.picture }}" alt="" />
            </div>
            <div class="card-body">
                <h2 class="h5 card-title">{{  tour.title  }}<br>{%  for _ in range(tour.stars|int) %}&#9734{% endfor %}</h2>
                <p class-"card-text">{{ tour.nights }} ночей, {{ tour.price }} Р </p>
                <p class="card-text">{{ tour.description | truncate(90) }}</p>
                <a href="/tours/{{ id }}/" class="btn btn-outline-primary">Подробнее</a>
            </div>
          </div>
        </div>
        {%  endfor %}
    </div>
{%  endblock  %}