{% extends 'base.html' %}
{% block container %}
    <section class="mt-3 pb-5">
      <h1 class="display-3 mt-4">{{ tour.title }} {% for _ in range(tour.stars|int) %}&#9734{% endfor %}</h1>
      <!-- HERO -->
      <p class="lead">{{ tour.country }} {{ departure }} {{ tour.nights }} ночей</p>
      <img src="{{ tour.picture }}" alt="">
      <p class="my-4 w-75">{{ tour.description }}</p>
      <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tour.price }}</a>
    </section>
{% endblock %}